<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add/Edit Menu Item</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container form-container">
		<h1
			th:text="${menuItem.id == null} ? 'Add Menu Item' : 'Edit Menu Item'"></h1>
		<form th:action="@{/menu/save}" th:object="${menuItem}" method="post">
			<input type="hidden" th:field="*{id}"> <label>Name</label><input
				th:field="*{name}" required> <label>Description</label><input
				th:field="*{description}"> <label>Price</label><input
				th:field="*{price}" type="number" step="0.01"> <label>Available</label>
			<select th:field="*{available}">
				<option th:value="true">Yes</option>
				<option th:value="false">No</option>
			</select> <label>Restaurant</label> <select th:field="*{restaurant.id}">
				<option th:each="r: ${restaurants}" th:value="${r.id}"
					th:text="${r.name}"></option>
			</select>
			<button type="submit" class="btn-save">Save</button>
			<a th:href="@{/menu/list}" class="btn-cancel">Back</a>
		</form>
	</div>
</body>
</html>
